<div class="jumbotron">
    <h1>Generate transactions</h1>
    <p class="lead">After created customers and credit cards from API, put next button to generate random transactions for existing credit card accounts.</p>
    
</div>